*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $grey;   
}

.container {
    max-width: 978px;
    margin: 0 auto;
}

h2 {
    color: $darkGrey;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}