footer {
    background: $bgFoot;
    border-top: 1px solid $bbColor;
    font-size: 11px;
    padding: 10px 15px 10px 15px;

    .container {
        display: flex;
        justify-content: space-between;
    }
}

.refs {
    display: inline-flex;

    li {
        font-size: 11px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 0;
        cursor: pointer;
        margin-right: 10px;

        a {
            color: $lightGrey;
        }
    }
}